In [1]:
import pandas as pd
import numpy as np

In [2]:
columns=["symboling", "normalized_losses","make", "fuel_type", "aspiration","num_doors", "body_style", "drive_wheels","engine_location", "wheel_base", "length", "width", "height", "curb_weight","engine_type", "num_cylinders", "engine_size", "fuel_system", "bore", "stroke","compression_ratio", "horsepower", "peak_rpm", "city_mpg", "highway_mpg", "price"]
df=pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/autos/imports-85.data',na_values='?')
df.columns=columns
df

     symboling  normalized_losses         make  ... city_mpg highway_mpg    price
0            3                NaN  alfa-romero  ...       21          27  16500.0
1            1                NaN  alfa-romero  ...       19          26  16500.0
2            2              164.0         audi  ...       24          30  13950.0
3            2              164.0         audi  ...       18          22  17450.0
4            2                NaN         audi  ...       19          25  15250.0
..         ...                ...          ...  ...      ...         ...      ...
199         -1               95.0        volvo  ...       23          28  16845.0
200         -1               95.0        volvo  ...       19          25  19045.0
201         -1               95.0        volvo  ...       18          23  21485.0
202         -1               95.0        volvo  ...       26          27  22470.0
203         -1               95.0        volvo  ...       19          25  22625.0

[204 rows x 26 columns]

In [3]:
print(df.shape)
df.dropna(subset=['price'],inplace=True)
df.reset_index(drop=True,inplace=True)
print(df.shape)

(204, 26)
(200, 26)

In [4]:
numericalColumns=list(df.dtypes.index[df.dtypes!=object])
df1=df[numericalColumns].fillna(df[numericalColumns].mean())
df1

     symboling  normalized_losses  wheel_base  ...  city_mpg  highway_mpg    price
0            3              122.0        88.6  ...        21           27  16500.0
1            1              122.0        94.5  ...        19           26  16500.0
2            2              164.0        99.8  ...        24           30  13950.0
3            2              164.0        99.4  ...        18           22  17450.0
4            2              122.0        99.8  ...        19           25  15250.0
..         ...                ...         ...  ...       ...          ...      ...
195         -1               95.0       109.1  ...        23           28  16845.0
196         -1               95.0       109.1  ...        19           25  19045.0
197         -1               95.0       109.1  ...        18           23  21485.0
198         -1               95.0       109.1  ...        26           27  22470.0
199         -1               95.0       109.1  ...        19           25  22625.0

[200 rows x 16 columns]

In [5]:
categoricalColumns=list(df.dtypes.index[df.dtypes==object])
df2=df[categoricalColumns].fillna(df[categoricalColumns].mode())
df2

            make fuel_type aspiration  ... engine_type num_cylinders fuel_system
0    alfa-romero       gas        std  ...        dohc          four        mpfi
1    alfa-romero       gas        std  ...        ohcv           six        mpfi
2           audi       gas        std  ...         ohc          four        mpfi
3           audi       gas        std  ...         ohc          five        mpfi
4           audi       gas        std  ...         ohc          five        mpfi
..           ...       ...        ...  ...         ...           ...         ...
195        volvo       gas        std  ...         ohc          four        mpfi
196        volvo       gas      turbo  ...         ohc          four        mpfi
197        volvo       gas        std  ...        ohcv           six        mpfi
198        volvo    diesel      turbo  ...         ohc           six         idi
199        volvo       gas      turbo  ...         ohc          four        mpfi

[200 rows x 10 columns]

In [6]:
categoricalColumns

['make',
 'fuel_type',
 'aspiration',
 'num_doors',
 'body_style',
 'drive_wheels',
 'engine_location',
 'engine_type',
 'num_cylinders',
 'fuel_system']

In [7]:
df.update(df1)
df.update(df2)
del df1
del df2
df

     symboling  normalized_losses         make  ... city_mpg highway_mpg    price
0            3              122.0  alfa-romero  ...       21          27  16500.0
1            1              122.0  alfa-romero  ...       19          26  16500.0
2            2              164.0         audi  ...       24          30  13950.0
3            2              164.0         audi  ...       18          22  17450.0
4            2              122.0         audi  ...       19          25  15250.0
..         ...                ...          ...  ...      ...         ...      ...
195         -1               95.0        volvo  ...       23          28  16845.0
196         -1               95.0        volvo  ...       19          25  19045.0
197         -1               95.0        volvo  ...       18          23  21485.0
198         -1               95.0        volvo  ...       26          27  22470.0
199         -1               95.0        volvo  ...       19          25  22625.0

[200 rows x 26 columns]

In [8]:
nancols=[]
for col in df.columns:
    if len(df[col].isnull().unique()) > 1:
        print(col)
        nancols.append(col)
print(nancols)

num_doors
['num_doors']

In [9]:
df['num_doors']=df['num_doors'].replace(np.nan,df['num_doors'].mode()[0])
if df.isnull().sum().sum() == 0:
    print('Central Tendency Imputation done')

Central Tendency Imputation done

In [10]:
from sklearn.ensemble import IsolationForest
clf=IsolationForest(random_state=42)

In [11]:
df['length']

0      168.8
1      171.2
2      176.6
3      176.6
4      177.3
       ...
195    188.8
196    188.8
197    188.8
198    188.8
199    188.8
Name: length, Length: 200, dtype: float64

In [12]:
clf.fit(df[['length']])
pred=clf.predict(df[['length']])
pred

array([ 1,  1,  1,  1,  1, -1, -1, -1,  1,  1,  1,  1,  1,  1, -1, -1, -1,
       -1, -1,  1,  1,  1,  1,  1,  1,  1,  1,  1, -1, -1, -1, -1, -1, -1,
       -1,  1,  1,  1,  1,  1,  1,  1,  1, -1, -1, -1, -1, -1, -1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1, -1, -1, -1, -1, -1,
       -1, -1, -1, -1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1, -1,  1,  1, -1, -1, -1,  1,  1,
       -1,  1,  1, -1, -1,  1,  1, -1, -1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1, -1,  1,  1,  1,  1,  1,  1,  1, -1, -1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1, -1, -1,  1,  1,  1,  1,  1,  1,  1,  1,  1, -1,  1, -1,
       -1, -1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1])

In [13]:
outlierIndices=np.where(pred==-1)
outlierIndices

(array([  5,   6,   7,  14,  15,  16,  17,  18,  28,  29,  30,  31,  32,
         33,  34,  43,  44,  45,  46,  47,  48,  63,  64,  65,  66,  67,
         68,  69,  70,  71,  94,  97,  98,  99, 102, 105, 106, 109, 110,
        125, 133, 134, 173, 174, 184, 186, 187, 188]),)

In [14]:
df['length'].iloc[outlierIndices].values

array([192.7, 192.7, 192.7, 193.8, 197. , 141.1, 155.9, 158.8, 144.6,
       144.6, 150. , 150. , 150. , 163.4, 157.1, 199.6, 199.6, 191.7,
       159.1, 159.1, 159.1, 190.9, 190.9, 187.5, 202.6, 202.6, 180.3,
       208.1, 199.2, 178.4, 162.4, 181.7, 184.6, 184.6, 178.5, 198.9,
       198.9, 198.9, 198.9, 181.5, 156.9, 157.9, 183.5, 183.5, 159.3,
       180.2, 180.2, 183.1])

In [15]:
df['num_doors'].append(df['num_cylinders']).unique()

array(['two', 'four', 'six', 'five', 'three', 'twelve', 'eight'],
      dtype=object)

In [16]:
cardinalMap={'twelve':12,'two':2,'three':3,'four':4,'five':5,'six':6,'eight':8}

In [17]:
df[['num_doors','num_cylinders']]=df[['num_doors','num_cylinders']].applymap(lambda x: cardinalMap[x])
df.head()

   symboling  normalized_losses         make  ... city_mpg highway_mpg    price
0          3              122.0  alfa-romero  ...       21          27  16500.0
1          1              122.0  alfa-romero  ...       19          26  16500.0
2          2              164.0         audi  ...       24          30  13950.0
3          2              164.0         audi  ...       18          22  17450.0
4          2              122.0         audi  ...       19          25  15250.0

[5 rows x 26 columns]

In [18]:
categoricalColumns.remove('num_doors')
categoricalColumns.remove('num_cylinders')

In [19]:
pd.get_dummies(df[["body_style", "drive_wheels"]])

     body_style_convertible  ...  drive_wheels_rwd
0                         1  ...                 1
1                         0  ...                 1
2                         0  ...                 0
3                         0  ...                 0
4                         0  ...                 0
..                      ...  ...               ...
195                       0  ...                 1
196                       0  ...                 1
197                       0  ...                 1
198                       0  ...                 1
199                       0  ...                 1

[200 rows x 8 columns]

In [20]:
pd.get_dummies(df[["body_style", "drive_wheels"]]).columns

Index(['body_style_convertible', 'body_style_hardtop', 'body_style_hatchback',
       'body_style_sedan', 'body_style_wagon', 'drive_wheels_4wd',
       'drive_wheels_fwd', 'drive_wheels_rwd'],
      dtype='object')

In [21]:
dummies=pd.get_dummies(df[["body_style", "drive_wheels"]])
df=pd.concat((df,dummies),axis=1)
df.drop(columns=["body_style", "drive_wheels"],inplace=True)
df

     symboling  normalized_losses  ... drive_wheels_fwd drive_wheels_rwd
0            3              122.0  ...                0                1
1            1              122.0  ...                0                1
2            2              164.0  ...                1                0
3            2              164.0  ...                0                0
4            2              122.0  ...                1                0
..         ...                ...  ...              ...              ...
195         -1               95.0  ...                0                1
196         -1               95.0  ...                0                1
197         -1               95.0  ...                0                1
198         -1               95.0  ...                0                1
199         -1               95.0  ...                0                1

[200 rows x 32 columns]

In [22]:
encodedColumns=list(dummies.columns)
categoricalColumns.remove('body_style')
categoricalColumns.remove('drive_wheels')
categoricalColumns,encodedColumns

(['make',
  'fuel_type',
  'aspiration',
  'engine_location',
  'engine_type',
  'fuel_system'],
 ['body_style_convertible',
  'body_style_hardtop',
  'body_style_hatchback',
  'body_style_sedan',
  'body_style_wagon',
  'drive_wheels_4wd',
  'drive_wheels_fwd',
  'drive_wheels_rwd'])

In [23]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()

In [24]:
encodingFeatures=['make', 'aspiration', 'engine_location','fuel_type']
for attributes in encodingFeatures:
    df[attributes]=pd.Series(le.fit_transform(df[attributes]))
df

     symboling  normalized_losses  ...  drive_wheels_fwd  drive_wheels_rwd
0            3              122.0  ...                 0                 1
1            1              122.0  ...                 0                 1
2            2              164.0  ...                 1                 0
3            2              164.0  ...                 0                 0
4            2              122.0  ...                 1                 0
..         ...                ...  ...               ...               ...
195         -1               95.0  ...                 0                 1
196         -1               95.0  ...                 0                 1
197         -1               95.0  ...                 0                 1
198         -1               95.0  ...                 0                 1
199         -1               95.0  ...                 0                 1

[200 rows x 32 columns]

In [25]:
categoricalColumns=[x for x in categoricalColumns if not x in encodingFeatures]
encodedColumns+=encodingFeatures
categoricalColumns,encodedColumns

(['engine_type', 'fuel_system'],
 ['body_style_convertible',
  'body_style_hardtop',
  'body_style_hatchback',
  'body_style_sedan',
  'body_style_wagon',
  'drive_wheels_4wd',
  'drive_wheels_fwd',
  'drive_wheels_rwd',
  'make',
  'aspiration',
  'engine_location',
  'fuel_type'])

In [26]:
def keyEncode(string,substr):
    if string.count(substr):
        return(1)
    else:
        return(0)

In [27]:
df[['fuel_system']]=df[['fuel_system']].applymap(lambda x: keyEncode(x,'pfi'))
df[['engine_type']]=df[['engine_type']].applymap(lambda x: keyEncode(x,'ohc'))
categoricalColumns.remove('fuel_system')
categoricalColumns.remove('engine_type')
encodedColumns+=['fuel_system','engine_type']
df

     symboling  normalized_losses  ...  drive_wheels_fwd  drive_wheels_rwd
0            3              122.0  ...                 0                 1
1            1              122.0  ...                 0                 1
2            2              164.0  ...                 1                 0
3            2              164.0  ...                 0                 0
4            2              122.0  ...                 1                 0
..         ...                ...  ...               ...               ...
195         -1               95.0  ...                 0                 1
196         -1               95.0  ...                 0                 1
197         -1               95.0  ...                 0                 1
198         -1               95.0  ...                 0                 1
199         -1               95.0  ...                 0                 1

[200 rows x 32 columns]

In [28]:
categoricalColumns,encodedColumns

([],
 ['body_style_convertible',
  'body_style_hardtop',
  'body_style_hatchback',
  'body_style_sedan',
  'body_style_wagon',
  'drive_wheels_4wd',
  'drive_wheels_fwd',
  'drive_wheels_rwd',
  'make',
  'aspiration',
  'engine_location',
  'fuel_type',
  'fuel_system',
  'engine_type'])

In [29]:
encodedColumns.append(numericalColumns.remove('symboling'))
encodedColumns,numericalColumns

(['body_style_convertible',
  'body_style_hardtop',
  'body_style_hatchback',
  'body_style_sedan',
  'body_style_wagon',
  'drive_wheels_4wd',
  'drive_wheels_fwd',
  'drive_wheels_rwd',
  'make',
  'aspiration',
  'engine_location',
  'fuel_type',
  'fuel_system',
  'engine_type',
  None],
 ['normalized_losses',
  'wheel_base',
  'length',
  'width',
  'height',
  'curb_weight',
  'engine_size',
  'bore',
  'stroke',
  'compression_ratio',
  'horsepower',
  'peak_rpm',
  'city_mpg',
  'highway_mpg',
  'price'])

In [30]:
import copy
scaleFeatures=copy.deepcopy(numericalColumns)
outputFeature=scaleFeatures.remove('price')

In [31]:
df[scaleFeatures]

     normalized_losses  wheel_base  length  ...  peak_rpm  city_mpg  highway_mpg
0                122.0        88.6   168.8  ...    5000.0        21           27
1                122.0        94.5   171.2  ...    5000.0        19           26
2                164.0        99.8   176.6  ...    5500.0        24           30
3                164.0        99.4   176.6  ...    5500.0        18           22
4                122.0        99.8   177.3  ...    5500.0        19           25
..                 ...         ...     ...  ...       ...       ...          ...
195               95.0       109.1   188.8  ...    5400.0        23           28
196               95.0       109.1   188.8  ...    5300.0        19           25
197               95.0       109.1   188.8  ...    5500.0        18           23
198               95.0       109.1   188.8  ...    4800.0        26           27
199               95.0       109.1   188.8  ...    5400.0        19           25

[200 rows x 14 columns]

In [32]:
from sklearn.preprocessing import StandardScaler
ss=StandardScaler()
df[scaleFeatures]=pd.DataFrame(ss.fit_transform(df[scaleFeatures]),columns=scaleFeatures)
df

     symboling  normalized_losses  ...  drive_wheels_fwd  drive_wheels_rwd
0            3           0.000000  ...                 0                 1
1            1           0.000000  ...                 0                 1
2            2           1.312654  ...                 1                 0
3            2           1.312654  ...                 0                 0
4            2           0.000000  ...                 1                 0
..         ...                ...  ...               ...               ...
195         -1          -0.843849  ...                 0                 1
196         -1          -0.843849  ...                 0                 1
197         -1          -0.843849  ...                 0                 1
198         -1          -0.843849  ...                 0                 1
199         -1          -0.843849  ...                 0                 1

[200 rows x 32 columns]